.image img {
    width: 200 !important; 
    height: 100 !important;
}
.footer {
    color: white;
    margin-top: 80px;
}
.footer img {
    width: 30px;
    height: 30px;
}
.footer a {
    color: white;
    text-decoration: none;
}

.titolo {
    margin-top: 2%;
    border: solid #386c84;
    border-radius: 20px;
    padding-bottom: 2%;
}

#riga1 {
    margin-top: 2%;
}


.card {
    margin: 5%  
}

.card-title {
    color: white;
    
}

.card-text {
    color: white;
}

.card-body {
    background-color: #386c84;
}


h1 {
    margin: 5%;
    text-align: center;
}