.image img {
    width: 200 !important; 
    height: 100 !important;
}
.footer {
    color: white;
    margin-top: 80px;
}
.footer img {
    width: 30px;
    height: 30px;
}
.footer a {
    color: white;
    text-decoration: none;
}